body {
    background-color: #F1F1F1;
}
#header {
    width: 100%;
    float: left;
    background: url(../Content/img/bg.jpg) #799EA7 no-repeat center;
    min-height: 250px;
}

#header .span12 {
    margin: 100px auto;
    float: none;
}

.extra-text {
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 250px; 
    overflow:hidden;
}

.tag
{
    cursor: pointer;
}

.progress .small
{
    height: 5px;
    margin-bottom: 3px;
    font-size: 15px;
}

.error-upload {
    font-size: 10px;
}

.topic-content {
    margin-top: 30px;
}