﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap-wysihtml5.css")" rel="stylesheet" type="text/css" />
        <link href="/Content/img/favicon.ico" type="imgage/ico" rel="icon"/>
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/wysihtml5-0.3.0_rc1.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/bootstrap-wysihtml5.js")" type="text/javascript"> </script>
        <script type="text/javascript">
            $(function() {
                $(".tag").click(function() {
                    var tag = $(this).text();
                    $("#tagsearch").val($("#tagsearch").val() + " " + tag);
                });
            });
        </script>
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    @Html.ActionLink("TagWik", "Index", new {controller = "Home"}, new {@class = "brand"})
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#"
                               class="dropdown-toggle"
                               data-toggle="dropdown">
                                @Session["User"]
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-header">TagWik</li>
                                <li><a href="/Topics">
                                        <i class="icon-th-large"></i>
                                        My Topics
                                    </a></li>
                                <li><a href="/Favorites">
                                        <i class="icon-star"></i>
                                        Favorites
                                    </a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Account</li>
                                <li><a href="http://tools.ascio.com">
                                        <i class="icon-th"></i>
                                        Admin
                                    </a></li>
                                <li><a href="http://tools.ascio.com/Account/">
                                        <i class="icon-user"></i>
                                        Profile
                                    </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="header">
            <div class="span12">
                <input type="text" class="input-xxlarge" id="tagsearch"/>
                <div>
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-plus"></i>
                            Add
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#addTopic" data-toggle="modal">
                                    <i class="icon-th-large"></i>
                                    Topic
                                </a></li>
                            <li><a href="#addDocument" data-toggle="modal">
                                    <i class="icon-file"></i>
                                    Document
                                </a></li>
                            <li><a href="#">
                                    <i class="icon-comment"></i>
                                    Comment
                                </a></li>
                        </ul>
                    </div>
                </div>   
            </div>         
        </div>
        <div class="container">
            @RenderBody()
        </div>
        @{
            Html.RenderPartial("~/Views/Content/Add/Topic.cshtml");
            Html.RenderPartial("~/Views/Content/Add/Document.cshtml");
        }
    </body>
</html>