﻿<script src="@Url.Content("~/Scripts/plupload/plupload.full.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/site/Document.js")" type="text/javascript"></script>

<div class="modal hide" id="addDocument">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>New Document</h3>
    </div>
    <div class="modal-body">
        <form action="/Content/AddDocument" method="POST">
            <label for="title">Title</label>
            <input id="title" name="Title" type="text" class="input-xxlarge"/>

            <label for="pickfiles">Files</label>
            <div id="filecontainer">
                <div id="filedrop" class="well" style="cursor:default">Drop Files Here</div>
                <div id="filelist"></div>
                <a id="pickfiles" href="#">Select files</a>
                <a id="uploadfiles" href="#">Upload files</a>  
            </div>
            <label for="tags">Tags</label>
            <input id="tags" name="Tags" type="text" class="input-xxlarge"/>
        </form>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" href="#">Cancel</a>
        <input type="button" class="btn btn-primary" value="Add Document" />
    </div>
</div>