﻿<script type="text/javascript" src="@Url.Content("~/Scripts/site/Topic.js")"></script>  

<div class="modal hide" id="addTopic">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>New Topic</h3>
    </div>
    <div class="modal-body">
        <!-- todo : add full screen button -->
        <form action="/Content/AddTopic" method="POST">
            <label for="Title">Title</label>
            <input id="Title" name="Title" type="text" class="input-xxlarge"/>

            <label for="Body">Body</label>
            <textarea id="Body" name="Body" class="input-xxlarge" style="min-height: 250px"></textarea>

            <label for="Tags">Tags</label>
            <input id="Tags" name="Tags" type="text" class="input-xxlarge"/>
        </form>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" href="#">Cancel</a>
        <input type="button" class="btn btn-primary" value="Add Topic" />
    </div>
</div>