﻿@model IEnumerable<TagWik.Domain.Model.Topic>
@{
    ViewBag.Title = "TagWiki";
}

<p>&nbsp;</p>

<table class="table table-striped">
    <tbody>
        @foreach (var topic in Model)
        {
            <tr>
                <td><a href="/@topic.Id">@topic.Title</a></td>
                <td class="extra-text">@topic.Body</td>
                <td class="extra-text">
                    @foreach (var tag in @topic.Tags)
                    {
                        <span class="label label-info tag">@tag</span>
                    }
                </td>                
            </tr>
        }
    </tbody>
</table>

@if(!Model.Any())
{
    @:Nothing here =( <br /> Add some content!
} 