﻿@model TagWik.Domain.Model.Topic

<div class="content">
    @if (Model != null)
    {
        <div class="topic-content">
            <div class="well">
                <div>
                    <h3>@Model.Title</h3>
                </div>
                @Html.Raw(HttpUtility.HtmlDecode(@Model.Body))
            </div>
            <div>
                by @Model.Author
            </div>
            <div>
                @foreach (string tag in @Model.Tags)
                {
                    <span class="label label-info tag">@tag</span>
                }
            </div>
        </div>
    }
    else
    {
        @:There seems to be nothing here. Did you misstype the url?
    }
</div>